.header {
  padding: 10%;
}

.text-styles {
  display: flex;
  justify-content: center;
}

.footer {
  padding: 0;
}

.footer2 {
  padding: 0;
}

.footer3 {
  padding: 0;
}

.footer4 {
  padding: 0;
}

.footer5 {
  padding: 0;
}
